# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env

# MacOS
.DS_Store
*.code-workspace

# UI (As requested to keep private/separate)
# frontend/

# Local data
backend/uploads/
backend/temp_screenshots/
